<a href="https://colab.research.google.com/github/DankMinhKhoa/HAMKAutomationSoftDev_2021/blob/main/BEEAP20_170321_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is an infinite sum: $\sum_{i=1}^{\infty} \frac{1}{2^i} = 1$

In [2]:
print("hello world")

hello world

In [4]:
'''

'''
varName=input("Give me your name: ")
print("Hello, ", varName)

Give me your name: khoa
Hello,  khoa

In [19]:
# add two numbers, input from kb example
var1 = int(input("Input the first number: ")) # this is a string
var2 = int(input("Input the second number: ")) # this is also a string
print("var1 is a ", type(var1))
print("var2 is a ", type(var2))
# string + string = concatenate
print("Sum of two number is ", int(var1)+int(var2))

Input the first number: 1
Input the second number: 2
var1 is a  <class 'int'>
var2 is a  <class 'int'>
Sum of two number is  3

In [13]:
# for(int i = 0; i < 3; i++)
for i in range(3):
  print("Hello!")

print("Bye!")

Hello!
Hello!
Hello!
Bye!

In [5]:
import numpy as np
from numpy import cos

cos(0)
np.sin(0)

0.0

In [7]:
list0 = ["win", 1, 3.1415926535]

for i in list0:
  print(i)

win
1
3.1415926535

In [12]:
dict0 = {
    "name": "John",
    "age": 36,
    "Name": "doe"
}

dict1 = {
    "age": 36,
    "name": "John"
}

print(dict0)
print(dict0["name"])

{'name': 'John', 'age': 36, 'Name': 'doe'}
John

In [13]:
L=[1,2,98,5,-1,2,0,5,10] # this a list of int

counter = 0

for i, x in enumerate(L):
    if x == 5:
        counter += 1
        if counter == 2:
            break
            
print(i)

7

In [51]:
L=[1,2,98,5,-1,2,0,5,10] # this a list of int

print(L)

L.append(100)
       
print(L)

[1, 2, 98, 5, -1, 2, 0, 5, 10]
[1, 2, 98, 5, -1, 2, 0, 5, 10, 100]

In [50]:
def timesTwo(n):
  multiplier = 2
  return n*multiplier

def multiplySomething(number, multiplier = 1):
  return number*multiplier

print(multiplySomething(number=10))

10

In [26]:
dict0 = {
    "name": {"John", "Cena"},
    "age": [36, 37, 38, 39],
    "surName": "doe",
    "occupation": "Welder"
}

for k in dict0.keys():
  print(k," : ", dict0[k])
  print(type(dict0[k]))

newList = [dict0["name"], dict0["age"]]
print(newList)

name  :  {'Cena', 'John'}
<class 'set'>
age  :  [36, 37, 38, 39]
<class 'list'>
surName  :  doe
<class 'str'>
occupation  :  Welder
<class 'str'>
[{'Cena', 'John'}, [36, 37, 38, 39]]

In [35]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [47]:
def my_function(*kids):
  print("The youngest child is " + kids[-1])

my_function("Emil", "Tobias", "Antti", "Timo", "Linus")

The youngest child is Linus